doctype html
html(lang="ja")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    meta(charset="UTF-8")
    meta(name="description" content="みんなで作る有料駐車場マップ。空いている駐車場、安い駐車場がみつけられます")
    meta(name="keywords" content="駐車場,タイムズ,コインパーキング,広島")
    title パークマップ広島
    link(rel="stylesheet" href="/css/landing.css")
    script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(src="/js/landing.js")
  body
    div(id="fb-root")
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3&appId=831188770250625";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    .content-wrap
      nav.global-nav
        h1 パークマップ広島

      .body
        h1.hero あなたのための駐車場が見つかる
        p 車で街中へ。どこに停めるのがよくわからなくて、目的から離れているいつもの駐車場に停めてしまう。パークマップ広島はそんな人を応援するサービスです。目的地に近い駐車場を簡単に見つけられます。
        p 現在は、料金を調べることができる料金パークマップと空いている駐車場をみつけられる空き情報パークマップのふたつを公開しています
        a.button.main(href="/map/") 料金を調べる
        a.button.main(href="http://parkmap-beta.eiel.info") 空き情報を調べる

        .park-count
          駐車場登録件数 10件

        h2 地図で確認できる
        p 地図であなたの目的地付近の情報を見るだけ。スマートフォンを使って今いる場所も取得できるので、簡単に操作できます。

        h2 利用料金の予測ができる
        p 検索結果には利用料金の予測も含まれます。あなたの目的地から近くて安い駐車場が簡単に見つけられます。

        h2 空いている駐車場がわかる
        p 地図上に空いている駐車場と空いてない駐車場が表示され一目でどこの駐車場が空いているのかわかります。

        h2 みんなでつくる
        p パークマップの情報は地元の人の情報提供によって構築されています。駐車場の空き情報だって利用者が登録しています。
        p 開発したアプリケーションの中身もオープンにしています。一緒にパークマップを作りたい人を募集しています。自分たちの街を便利する情報を一緒に作りませんか。
        a.build(href="https://github.com/parkmap-h/parkmap/wiki") もっと詳しく

        .fb.
          <div class="fb-page" data-href="https://www.facebook.com/pages/&#x30d1;&#x30fc;&#x30af;&#x30de;&#x30c3;&#x30d7;&#x5e83;&#x5cf6;/449921165167160" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/&#x30d1;&#x30fc;&#x30af;&#x30de;&#x30c3;&#x30d7;&#x5e83;&#x5cf6;/449921165167160"><a href="https://www.facebook.com/pages/&#x30d1;&#x30fc;&#x30af;&#x30de;&#x30c3;&#x30d7;&#x5e83;&#x5cf6;/449921165167160">パークマップ広島</a></blockquote></div></div>

        h1 免責事項
        p.
          このサイトで提供される情報はユーザによって提供された情報を元に構築したものです。正確な情報や支払い料金を保証するものではありません。

        a.button.main(href="/map/") 料金を調べる
        a.button.main(href="http://parkmap-beta.eiel.info") 空き情報を調べる

    aside.footer
      p.copyright Copyright 2014-2015 パークマップ広島

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60529914-1', 'auto');
      ga('send', 'pageview');

      document.querySelector('.build').addEventListener('click',function () { ga('send', 'event', 'button', 'click', 'build') },false);
      document.querySelector('.main').addEventListener('click',function () { ga('send', 'event', 'button', 'click', 'main') },false);
