html
  height 100%

body
  margin 0
  padding 0
  background-color #feeeee

.global-nav
  margin 0
  padding 0
  height 60px
  width 100%
  background-color #d42

  h1
    margin 0
    padding 0
    padding-top 11px
    padding-left 20px
    font-size 25px
    color #fdd

.content-wrap
  position relative
  margin 0
  padding-top 0
  padding-bottom 40px
  padding-right 20px
  padding-left 20px
  background-color #fff

  h1
    padding 40px 0 20px 0
    margin 0
    font-size 18px
    align center

  h1.hero
    padding 40px 0

  h2
    padding 20px 0
    margin 0
    font-size 14px

  p
    font-size 12px
    padding 0
    margin 0

.footer
  height 100px
  background-color #d42

  .copyright
    padding 80px 10px 0 10px
    margin 0
    font-size 10px
    color #fff
    bottom 0

.button
  display inline-block
  margin 14px 0
  padding 12px 24px
  left 0
  right 0
  font-size 14px
  background-color #d42
  color #fff
  text-decoration none
  border: 1px solid #999;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 10px 0;

.main
  margin-top 24px
  display block
  background-color #d42
  text-align center

a
  display inline-block
  padding 4px
  font-size 10px
  color #c00
