base-color = #E22E2E
acc-color = #4199E2

html
  height 100%

body
  margin 0
  padding 0
  background-color base-color

.global-nav
  margin 0
  padding 10px 0 10px 13px
  background-color base-color
  text-shadow: 0 0 1px #000, 0 0 1px #000
  border-bottom 2px solid #fff
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.8)
  -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.2)

  h1
    margin 0
    padding 0
    font-size 25px
    color #fff

.content-wrap
  background-color #fff

.body
  position relative
  margin 0
  padding-top 0
  padding-bottom 40px
  padding-right 20px
  padding-left 20px
  width 640px
  margin-left auto
  margin-right auto

  @media screen and (max-width: 720px)
    width auto


  h1.hero
    text-align center
    padding 60px 0
    @media screen and (max-width: 720px)
      font-size 18px
      margin 0
      padding 40px 0 20px 0

  h2
    padding 20px 0
    margin 0
    font-size 14px

  p
    font-size 12px
    padding 0
    margin 0

.footer
  height 100px
  background-color base-color

  .copyright
    padding 80px 10px 0 10px
    margin 0
    font-size 10px
    color #fff
    bottom 0

.button
  display inline-block
  margin 14px 0
  padding 12px 24px
  left 0
  right 0
  font-size 14px
  background-color #d42
  color #fff
  text-decoration none
  text-shadow: 0 0 2px #000;
  border: 2px solid #FFF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  padding: 10px 0;

.main
  margin-top 60px
  margin-bottom 60px
  margin-left auto
  margin-right auto
  display block
  background-color acc-color
  text-align center
  font-size 18px
  padding 16px 0px
  font-weight bold
  letter-spacing 2px
  width 320px
  @media screen and (max-width: 720px)
    margin-top 28px
    margin-bottom 28px
    margin-left 18px
    margin-right 18px
    width auto

a
  display inline-block
  padding 4px
  font-size 10px
  color acc-color
