html
  height 100%

body
  margin 0
  padding 0
  height 100%

#map > div > div, #map > div
  height 100%


#map
  position relative
  min-height 50%
  height 50%
  z-index 0

.location-button
  position absolute
  bottom 90px
  right 20px
  padding 8px
  font-size 18px
  z-index 1

.search-button
  position absolute
  bottom 40px
  right 20px
  padding 8px
  font-size 18px
  z-index 1

.park
  height 108px
  padding 4px 4px
  margin 0

.park:nth-child(even)
  background-color #eeeef3

.park .header
  height 20px
  line-height 14px
  margin 0
  header 0
  padding 0

.park .body
  height 88px
  line-height 14px
  margin 0
  header 0
  padding 0

.park img
  clear left
  height 88px
  width 117px
  float left
  margin-right 6px

.park span
  font-size 11px
  margin 0
  padding 0

.park .number
  padding-right 10px

.park .name
  height 12px
  font-size 12px
  line-height 14px
  font-weight bold

.park .distance
  font-size 8px
  line-height 14px
  float right
  position relative
  top 0px
  right 4px

.park .fee
  line-height 12px

.help
  font-size 14px
  margin 8px

.parks
  height 300px
  overflow scroll
  -webkit-overflow-scrolling touch
