html
  height 100%

body
  margin 0
  padding 0
  height 100%

#map > div > div, #map > div
  height 100%


#map
  position relative
  min-height 100%
  height 100%
  z-index 0

.search-button
  position absolute
  bottom: 40px
  right 20px
  padding 8px
  font-size 18px
  z-index 1
