html
  height 100%

body
  margin 0
  padding 0
  height 100%

#map > div > div, #map > div
  height 100%


#map
  position relative
  min-height 50%
  height 50%
  z-index 0

.search-button
  position absolute
  bottom: 40px
  right 20px
  padding 8px
  font-size 18px
  z-index 1

.park
  height 300px

.park img
  max-width 320px

.parks
  height 300px
  overflow scroll
  -webkit-overflow-scrolling touch
