#new_post_photo #post_photo_note {
    visibility: hidden;
}

#new_post_photo #post_photo_photo {
    visibility: hidden;
}

#progress {
    width: 320px;
}

.bar {
    height: 18px;
    background: green;
}
